@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
@*<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>*@


<div class="container">

    <div class="containerBox">
        <div class="row ">
            <div>
                <h2>Change Your Password</h2>
            </div>
            <form class="col s12" id="change-password-form" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate" asp-for="Input.OldPassword" required>
                        <label for="first_name">Old Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" required asp-for="Input.NewPassword">
                        <label for="last_name">New Password</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" required asp-for="Input.ConfirmPassword">
                        <label for="email">Confirm New Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col m-8">
                        <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">
                            Update password
                            <i class="material-icons right">security</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<link href="~/css/changePass/changePass.css" rel="stylesheet" />



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}