@using Bragi.Web.Assets.Resources.Home
@using Microsoft.AspNetCore.Mvc.Localization
 
<header class=" mb-50">
    <nav>
        <div class="nav-wrapper nav-bg browser-nav ">
            <h6>
             </h6>
            <img src="~/img/Home/cromo.png" width="50" height="50" />
            <span>Google Chrome</span>
            <img src="~/img/Home/mozilla.png" width="50" height="50" />
            <span>Mozilla firefox</span>
        </div>
    </nav>
</header>

